@using Microsoft.Extensions.Options;
@using coreWeb;
@model coreWeb.Models.Department

@inject IOptions<coreWebOptions> coreWebOpiton

<tr>
    @if (Model.EmployeeCount > coreWebOpiton.Value.BoldDepartmentEmployeeCountThreshold)
    {
        <td><strong>@Model.Name</strong></td>
    }
    else
    {
        <td>@Model.Name</td>
    }
    <td>@Model.Location</td>
    <td>@Model.EmployeeCount</td>

    <td>
        <a asp-controller="Employee" asp-action="Index" asp-route-departmentId="@Model.Id">Employees</a>
    </td>
</tr>